body {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #fff;
}

/* Wrapper untuk sidebar dan konten */
.wrapper {
    display: flex;
    height: 100%;
}

/* Sidebar */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #434242;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #434242;
}

.sidebar ul {
    padding: 20px 0;
    list-style: none;
    flex-grow: 1; /* Membuat ul berkembang untuk mengisi ruang yang tersedia */
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #E8B832;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #6d7fcc;
    color: #ffffff;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #6d7fcc;
    color: #ffffff;
}

/* Main Content */
.content {
    flex-grow: 1; /* Membuat konten berkembang untuk mengisi ruang yang tersedia */
    padding: 20px;
}

.summary-user, .summary-category {
    background-color: #E8B832;
    border-radius: 15px;
}

.summary-user .col-5, .summary-category .col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-user .col-6, .summary-category .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-user h3, .summary-category h3 {
    margin-bottom: 0;
}

.summary-user p, .summary-category p {
    margin: 0;
    padding-top: 0;
    color: white;
}

.text-white {
    color: white !important;
}

.btn2 {
    height: 40px;
    width: 95px;
    outline: none;
    border: none;
    border-radius: 60px;
    background: #37323E;
    color: white;
    font-weight: 700;
}

.btn2:hover {
    color: #37323E;
    background-color: white;
    border: 1px solid #37323E;
    transition: 0.5s;
}