body{
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.summary-user {
    background-color: #E8B832;
    border-radius: 15px;
}

.summary-category {
    background-color: #E8B832;
    border-radius: 15px; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #fff;
}

/* Search Bar */
.search {
    position: relative;
}

.search input {
    height: 40px;
    text-indent: 10px;
    font-size: 12pt;
    border: 2px solid #37323E;
    border-radius: 60px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #37323E;
}

.search .fa-search {
    position: relative;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    color: #FCEFEF;
    background: #37323E;
    border: none;
    border-radius: 60px;
}

.search button:hover {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100px;
    color: #37323E;
    background: white;
    border: 2px solid #37323E;
    border-radius: 60px;
    transition: 0.5s;
}

/* Main Content */
.main {
    background: url(../asset/img1.jpg)no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 80vh;
    width: 100%;
}

.main img {
    opacity: 0.5;
    height: 80vh;
    width: 100%;
}

.main .row {
    height: 80vh;
    align-items: center;
}

.main h1 {
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Lobster', cursive;
    color: #37323E;
}

/* Upload Content */
.upload {
    background: url(../asset/img2.jpg)no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 80vh;
    width: 100%;
}

.upload .row {
    height: 80vh;
    align-items: center;
}

.upload .col-lg-7 {
    margin-left: 40%;
}

.upload h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    color: #FCEFEF;
}

.upload h5 {
    color: #FCEFEF;
    font-weight: 500;
}

/* Container-nav */
.container-nav {
    background-color: #434242;
    border-radius: none;
    border-radius: none;        
    height: 100vh;
}

/* Buttons */
.btn1 {
    height: 40px;
    width: 95px;
    outline: none;
    border: none;
    border-radius: 60px;
    background: #37323E;
    color: white;
    font-weight: 700;
}

.btn1:hover {
    color: #37323E;
    background-color: white;
    border: 1px solid #37323E;
    transition: 0.5s;
}

.btn2 {
    height: 40px;
    width: 95px;
    outline: none;
    border: none;
    background-color: #37323E;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn2:hover {
    color: #37323E;
    background-color: white;
    border: 1px solid #37323E;
    transition: 0.5s;
}

.btn3 {
    height: 40px;
    width: 95px;
    outline: none;
    border: none;
    border-radius: 60px;
    background: #E70000;
    color: white;
    font-size: 14pt;
    font-weight: 700;
}

.btn3:hover {
    background-color: #C10101;
}


.summary-user {
    background-color: #E8B832;
    border-radius: 15px;
}

.summary-category {
    background-color: #E8B832;
    border-radius: 15px; 
}